@media screen and (max-width: 600px) {
  .container {
    max-width: 600px;
    margin: auto;
  }
  header{
    height: 163px;
  }
  .logo {
    margin-top: -100px;
    margin-left: 150px;
  }
  .menu {
    margin-left: -200px;
    font-size: 16px;
  }
  nav {
    width: 100%;
  }
  .blue2{
    margin-left: 60px;
  }
  a:hover {
    color: #0065fc;
  }
  .blue:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
    padding: 10px 40px 10px 36px;
  }
  .blue2:hover {
    border-bottom: 2px solid #f2f2f2;
    border-top: none;
    padding: 10px 52px 10px 46px;
  }
  #section1 {
    margin-left: 10px;
  }
  #section1 p{
    font-size: 16px;
  }
  h1 {
    font-size: 23px;
  }
  form{
    margin-top: 35px;
  }
  .glass {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 50px;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
  }
  .search {
    display: none;
  }
  .title {
    font-size: 16px;
  }
  #section2 {
    flex-wrap: wrap;
    margin-top: 8px;
  }
  .button {
    flex-wrap: inherit;
    height: 115px;
    column-gap: 10px;
    margin: 0px;
  }
  .logfilter {
    width: 48%;
    font-size: 12px;
  }
  .logfilter span {
    font-size: 9pxpx;
    margin-left: 10px;
  }
  .log{
  width: 35px;
}
.starblue2{
  font-size: 13px;
}  
.star_blue3{
  margin-top: 55px;
}







  .infobox2 {
    width: 185px;
    margin-left: 15px;
  }
  #section3 {
    margin: 0px 0px 0px 0px;
    background-color: white;
  
  }
  #total_block {
    display: flex;
    flex-direction: column-reverse;
  }
  .picture {
    width: 318px;
  }
  .card {
    margin: 10px 12px 4px 12px;
    height: 199px;
  }
  #right_block {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    border-radius: 0px;
    padding: 10px 10px 10px 10px;
  }
  .box {
    flex-direction: column;
    margin-top: -10px;
  }
  .night2{
    margin-top: -10px;
  }
  .card2 {
    width: 95%;
    height: 144px;
    margin: 10px 10px;
  }
  .picture2{
    width: 120px;
  }
  h2 {
    font-size: 20px;
  }
  #activity2 {
    padding-right: 171px;
    margin: 24px 15px -14px 20px;
  }
  .bold {
    display: none;
  }
  #hébergements{
    margin-left: 12px;
  }
  .lcard{

    flex-direction: column;
  }
  h3{
    font-size: 17px;
  }





  .infos2{
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-size: 15px;
  }
}
