@media screen and (max-width:600px) {
.container{
    max-width: 600px;
}
.logo{
    margin: 42%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.menu{
    width: 100%;
}  
a:hover{
    color: #0065fc;
}
.blue:hover{
    border-bottom: solid #0065fc;
}
.blue2:hover{
    border-bottom: solid #0065fc;
}
.section1{
    display: flex;
}
.title{
    display: flex;
}
#section2{
    flex-wrap: wrap;
}
.logfilter{
    display: flex;
}
}