* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
.container {
  max-width: 1400px;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 19px;
  margin-top: 24px;
}
nav {
  width: 30%;
  margin-top: 35px;
}
.menu {
  justify-content: flex-end;
}
a {
  text-decoration: none;
  color: black;
}
.blue2 {
  margin-left: 90px;
}
a:hover {
  color: #0065fc;
}
.blue:hover {
  border-top: solid #0065fc;
  padding: 57px 19px 0px 25px;
}
.blue2:hover {
  border-top: solid #0065fc;
  padding: 57px 25px 10px 30px;
}
ul {
  display: flex;
  list-style-type: none;
  font-size: 17px;
}
h1 {
  font-size: 21px;
}
form {
  display: flex;
}
input {
  border: 1px solid #f2f2f2;
  height: 50px;
  width: 240px;
  text-align: center;
}
.point {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 50px;
  background-color: #f2f2f2;
}
.text {
  font-size: 18px;
  padding-right: 55px;
  font-weight: bold;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 120px;
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.search:hover {
  background-color: #deebff;
}
.glass {
  display: none;
}
.title {
  font-size: 17px;
}
#section2 {
  display: flex;
  align-items: baseline;
  column-gap: 25px;
  margin-top: 30px;
}
.button {
  display: flex;
  column-gap: 75px;
}
.logfilter {
  display: flex;
  align-items: center;
  border: 3px solid #f2f2f2;
  border-radius: 30px;
  height: 40px;
  padding: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #0065fc;
}
.logfilter span {
  color: black;
  margin-left: 8px;
}
.logfilter:hover {
  background-color: #deebff;
}
#info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.infos {
  margin-left: 15px;
}
.log {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: #0065fc;
  border: 2px solid #f2f2f2;
  height: 27px;
  width: 27px;
}
.none {
  margin-right: 30px;
  color: black;
}
#section3 {
  background-color: #f2f2f2;
  padding: 15px 0px 15px 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 20px;
}
#hébergements {
  margin-left: 20px;
}
h3 {
  font-size: 16px;
  color: black;
}
.box {
  display: flex;
}
.picture {
  height: 124px;
  width: 246px;
  padding: 5px 5px 5px 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.card {
  box-shadow: 0px 0px 3px -2px;
  margin: 15px 35px 15px 15px;
  background-color: white;
  border-radius: 20px;
}
.infobox {
  font-size: 14px;
  margin: -12px 1px 6px 13px;
  line-height: 10px;
}
.bold2 {
  font-weight: bold;
}
.star_blue {
  font-size: 14px;
  color: #0065fc;
}
.star_blue2 {
  font-size: 14px;
  margin-top: 45px;
  color: #0065fc;
}
.star_blue3 {
  font-size: 14px;
  color: #0065fc;
  margin-top: 63px;
}
.star_blue4 {
  font-size: 14px;
  color: #0065fc;
  margin-top: 45px;
}
.grey{
  color: #f2f2f2;
}
.bold {
  font-weight: bold;
  color: black;
  display: flex;
  margin-top: 27px;
  margin-left: 25px;
}
#total_block {
  display: flex;
  margin: 15px 0px 40px 0px;
}
#right_block {
  margin-left: 30px;
  background-color: #f2f2f2;
  border-radius: 30px;
  padding: 15px 0px 0px 25px;
  display: grid;
  justify-items: center;
}
.block_cards {
  width: max-content;
}
.icon {
  margin: 0px 0px 0px 115px;
}
.card2 {
  width: 76%;
  height: 140px;
  box-shadow: 0px 0px 3px -2px;
  margin: 0px 0px 25px 25px;
  background-color: white;
  border-radius: 20px;
  display: flex;
}
.picture2 {
  object-fit: cover;
  width: 144px;
  height: 137px;
  padding: 4px 7px 1px 4px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.infobox2 {
  font-size: 15px;
  margin-left: 10px;
}
.activity {
  margin-bottom: 35px;
}
.nigth {
  font-size: 14px;
}
.night2 {
  font-size: 14px;
  margin-top: -11px;
  color: black;
}
.title2 {
  margin-left: 15px;
}
.titlebox {
  margin: 16px 0px 0px -75px;
}
.lcard {
  display: flex;
}
.card3 {
  border-radius: 20px;
  box-shadow: 0px 0px 3px -2px;
  margin: 15px 32px 15px 1px;
}
.picture3 {
  object-fit: cover;
  width: 325px;
  height: 400px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.infobox3 {
  padding-bottom: 5px;
  margin-left: 20px;
  font-size: 14px;
}
.infos2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f2f2f2;
  padding: 25px;
}
.box2 {
  display: flex;
  flex-direction: column;
  line-height: 10px;
  text-decoration: black;
}

/*CSS TABLETTE*/

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  header {
    width: 100%;
  }
  .menu {
    justify-content: flex-end;
    font-size: 14px;
  }
  .bleu2 {
    margin-left: 70px;
  }
  h1 {
    font-size: 18px;
  }
  .button {
    column-gap: 16px;
  }
  .logfilter {
    font-size: 15px;
  }
  #total_block {
    flex-direction: column;
  }
  h2 {
    font-size: 18px;
  }
  .icon {
    position: absolute;
    margin: 0px 0px 0px 510px;
  }
  #section3 {
    width: max-content;
    padding: 15px 13px 25px 26px;
    margin-bottom: 30px;
  }
  #section3 p {
    font-size: 12px;
  }
  .star_blue {
    font-size: 13px;
  }
  .star_blue2 {
    font-size: 13px;
    margin-top: 38px;
  }
  .picture {
    width: 195px;
    height: 120px;
  }
  #right_block {
    width: max-content;
    padding: 0px 0px 0px 0px;
    display: flex;
    margin: 0px;
  }
  .titlebox {
    height: 20px;
    width: 166px;
    margin: 30px 0px 0px 19px
  }
  .block_cards {
    display: flex;
    margin: 0px 0px 0px -116px;
  }
  .infobox2 {
    width: 115px;
    height: 120px;
  }
  .picture2 {
    width: 100px;
    height: 98%;
  }
  h3 {
    font-size: 12px;
  }
  .lcard {
    width: max-content;
    margin: 15px 0px 31px 0px;
  }
  .card2 {
    height: 123px;
    margin: 75px 65px 27px -55px;
  }
  .card3 {
    width: 156px;
    height: 225px;
    margin: 15px 15px 15px 18px;
  }
  .night2 {
    font-size: 11px;
    margin-top: 10px;
  }
  .star_blue3 {
    font-size: 13px;
    margin-top: 52px;
  }
  .star_blue4 {
    font-size: 14px;
    color: #0065fc;
    margin-top: 25px;
  }
  .picture3 {
    height: 170px;
    width: 100%;
  }
}

/*CSS MOBILE*/

@media screen and (max-width: 600px) {
  .container {
    max-width: 600px;
  }
  header {
    height: 135px;
    width: 100%;
    flex-direction: column;
  }
  .menu {
    font-size: 17px;
    padding: 0px 50px 0px 0px;
    justify-content: center;
  }
  a:hover {
    color: #0065fc;
  }
  .blue:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
    padding: 0px 30px 15px 55px;
  }
  .blue2:hover {
    margin: 0px;
    border-bottom: 2px solid #f2f2f2;
    border-top: none;
    padding: 0px 60px 15px 60px;
  }
  #section1 {
    margin-left: 10px;
  }
  #section1 p {
    font-size: 16px;
  }
  h1 {
    font-size: 23px;
  }
  form {
    margin-top: 35px;
  }
  .glass {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 50px;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
  }
  .search {
    display: none;
  }
  .title {
    font-size: 16px;
  }
  #section2 {
    flex-wrap: wrap;
    margin-top: 8px;
  }
  .button {
    flex-wrap: inherit;
    height: 115px;
    column-gap: 10px;
    margin: 0px;
  }
  .logfilter {
    width: 48%;
    font-size: 12px;
    height: 45px;
  }
  .logfilter span {
    font-size: 12px;
    margin-left: 10px;
  }
  .log {
    width: 35px;
  }
  .star_blue {
    font-size: 13px;
    margin-top: -5px;
  }
  .starblue2 {
    font-size: 13px;
    margin-top: 37px;
  }
  .star_blue3 {
    margin-top: 55px;
  }
  .star_blue4 {
    font-size: 14px;
    color: #0065fc;
    margin-top: 35px;
  }
  .night2 {
    font-size: 15px;
  }
  .infobox2 {
    width: 185px;
    margin-left: 15px;
  }
  #section3 {
    width: auto;
    margin: 0px 0px 0px 0px;
    background-color: white;
  }
  #section3 p {
    font-size: 15px;
  }
  #total_block {
    display: flex;
    flex-direction: column-reverse;
  }
  .picture {
    width: 100%;
  }
  .card {
    margin: 10px 20px 4px 0px;
    height: 190px;
    width: 100%;
  }
  #right_block {
    width: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    padding: 25px 10px 10px 10px;
  }
  .block_cards {
    width: auto;
    flex-direction: column;
    margin: 20px 0px 20px -27px;
  }
  .titlebox {
    margin: 0px;
    width: max-content;
  }
  .icon {
    margin: 6px 0px 0px 115px;
  }

  .box {
    flex-direction: column;
    margin-top: -10px;
  }
  .night2 {
    margin-top: -10px;
  }
  .card2 {
    width: 92%;
    height: 137px;
    margin: 10px 10px 0px 33px;
  }
  .card3 {
    width: auto;
    height: 190px;
  }
  .picture2 {
    width: 120px;
  }
  .picture3 {
    height: 130px;
  }
  h2 {
    font-size: 20px;
  }
  #activity2 {
    padding-right: 171px;
    margin: 24px 15px -14px 20px;
  }
  .bold {
    display: none;
  }
  #hébergements {
    margin-left: 0px;
  }
  .lcard {
    width: auto;
    flex-direction: column;
    margin-bottom: 50px;
  }
  h3 {
    font-size: 17px;
  }

  .infos2 {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-size: 15px;
  }
}
