*{
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
.container{
    max-width: 1400px;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}    
.logo{
    height: 19px;
    margin-left: 26px;
}
nav{
    width: 35%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #0065fc;
}
.blue:hover{
    border-top: solid #0065fc;
    padding-top: 43px;
    padding-left: 10px;
    padding-right: 10px;
}
.blue2:hover{
    border-top: solid #0065fc;
    padding-top: 43px;
    padding-left: 10px;
    padding-right: 10px;
}
ul{
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    list-style-type: none; 
    padding: 6% 10% 10% 6%;
}
#section1{
    margin-left: 26px;
}
h1{
    font-size: 25px;
}    
form{
    display: flex;
}
input{
    border: 1px solid #f2f2f2;
    height: 50px;
    width: 240px;
    text-align: center;
}
.point{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 50px;
    background-color: #f2f2f2;
}
.text{
    font-size: medium;
    font-weight: bold;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 120px;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.search:hover{
    background-color: #deebff;
}
.glass{
    display: none;
}
.title{
    margin-left: 26px;
    font-size: 15px;
}
#section2{
    display: flex;
    align-items: baseline;
    column-gap: 40px;
    margin-top: 30px;
}
.button{
    display: flex;
    column-gap: 55px;
}
.logfilter{
    display: flex;
    align-items: center;
    border: 3px solid #f2f2f2;
    border-radius: 30px;
    height: 50px;
    padding: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #0065fc;
}
.logfilter span{
    color: black;
    margin-left: 8px;
}
.logfilter:hover{
    background-color: #deebff;
}
#info{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 26px;
}
#info p{
    margin-left: 15px;
}
.log{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #0065fc;
    border: 2px solid #f2f2f2;
    height: 27px;
    width: 27px;
}
#section3{
    background-color: #f2f2f2;
    margin-left: 27px;
    margin-top: 25px;
    border-radius: 30px;
    padding: 15px 15px 15px 15px;
}
h2{
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 1px;
}
#section3 p{
    font-weight: bold;
    margin-left: 20px;
}
.box{
    display: flex;
}
.picture{
    height: 135px;
    width: 225px;
    padding: 5px 5px 28px 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.card{
    box-shadow: 2px 2px 12px 0;
    margin:20px;
    background-color: white;
    border-radius: 20px;
}
.infobox{
    font-size: 13px;
    display: flex;
}
#total_block{
    display: flex;
}
#right_block{
    background-color: #f2f2f2;
    margin-left: 50px;
    margin-top: 25px;
    border-radius: 30px;
    padding: 15px 15px 15px 15px;
    justify-content: space-between;
    display: grid;
}
.card2{
    box-shadow: 2px 2px 12px 0;
    max-width: max-content;
    margin:20px;
    background-color: white;
    border-radius: 20px;
    display: flex;
}
.picture2{
    object-fit: cover;
    width: 150px;
    height: 135px;
    padding: 5px 28px 5px 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.infobox2{
    font-size: 13px;
    width: 180px;
    
}
.icon{
    margin-left: 120px;
}