@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  header{
    width: 82%;
  }
  .menu{
    font-size: 14px;
    margin-left: 40px;
  }
  .bleu2{
    margin-right: 135px;
  }
  h1 {
    font-size: 18px;
  }
  .button {
    column-gap: 16px;
  }
  .logfilter{
    font-size: 15px;
  }
  #total_block {
    flex-direction: column;
  }
  h2 {
    font-size: 17px;
  }






  #section3 {
    width: 100%;
    padding: 15px 13px 25px 15px;
  }
  #section3 p {
    font-size: 12px;
  }
  .star_blue{
    font-size: 10px;
  }
  .picture {
    width: 195px;
    height: 120px;
  }
  #right_block {
    display: flex;
    margin-left: 0px;
  }
  .infobox2 {
    width: 115px;
    height: 120px;
  }
  .picture2 {
    width: 100px;
    height: 98%;
  }
  h3 {
    font-size: 13px;
  }
  .card2{
    margin: 75px 171px 27px -147px;
  }
  .night2{
    font-size: 12px;
    margin-top: 10px;
  }
  .star_blue2{
    font-size: 10px;
  }
  .star_blue3{
    margin-top: 26px;
    font-size: 10px;
  }
  .picture3{
    height: 185px;
    width: 100%;
  }

}
